/* --- Google Fonts --- */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* --- Fin de Google Fonts --- */


/* --- Paleta de Colores  --- */

:root {

    --main-bg-color: #E5E5E5;
    --primary-color: #20964F;
    --secondary-color: #4A7AD3;
    --tertiary-color: #A859C3;
    --fourth-color: #DD4D4D;
    --fifth-color: #FFEDCC;
    --text-color-primary: #FFFFFF;
    --text-color-secondary: #2E2929;
    --bg-container-form: #EDEDED;
    --bg-button-enviar: #28B15F;
    --bg-button-enviar-dark: #18723c;
}

/* --- Fin Paleta de Colores --- */


/* --- Fuente --- */


body {

    font-family: Rubik, Roboto, sans-serif;
    font-size: 24px;
}

/* --- Fin Fuente --- */


/* --- GRID --- */

.main-container {

    display: grid;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    grid-template:

        "navbar" 1fr
        "main-welcome" 10fr
        "carrousel-promotions" 5fr
        "orders-banner" 5fr
        "sales-section" 10fr
        "footer" 3fr;


    .navbar {

        grid-area: navbar;
    }


    .main-welcome {

        grid-area: main-welcome;

    }

    .carrousel-promotions {

        grid-area: carrousel-promotions;

    }

    .orders-banner {
        grid-area: orders-banner;

    }

    .sales-section {

        grid-area: sales-section
    }

    .footer {
        grid-area: footer;

    }


    /* --- Fin de Grid --- */


    /* --- BreakPoints --- */

    /* --- Los breakpoints estan configurados de esta manera 
        porque en el modo de Mobile quiero que se muestre el navbar en estilo hamburguesa
        y el carrousel-promotions y en modo desktop quiero que se muestre tal cual como esta en
        el diseño original de figma, esto aun esta en "veremos" y a decision de ustedes --- */



    @media (min-width:760px) {
        
        grid-template: "navbar" 2fr
        "main-welcome" 25fr
        "carrousel-promotions" 14fr
        "orders-banner" 14fr
        "sales-section" 25fr
        "footer" 5fr;

        .links-navbar, .logo-redes-navbar  {

            flex-direction: row;

        }

    }

    @media (min-width: 1024px) {

        grid-template: "navbar" 2fr
        "main-welcome" 25fr
        "carrousel-promotions" 14fr
        "orders-banner" 14fr
        "sales-section" 25fr
        "footer" 5fr;

        .links-navbar, .logo-redes-navbar {

            flex-direction: row;

        }

    }
}

/* --- Fin BreakPoints --- */


/* --- Comienzo Seccion INDEX CSS --- */

.navbar {

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    background-color: var(--primary-color);

}

.navbar img:first-child {

    width: 3.875rem;
    height: 3.292rem;
    margin-top: 0.3rem;
    margin-bottom: -0.4rem;

}

.navbar img:hover {

    transform: scale(1.2);
    transition: all 0.3s;
}

.navbar div:first-child {

    padding-left: 2rem;

}

#logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#logo-letter {

    display: inline-block;
    color: var(--main-bg-color);

}

#logo-letter p:first-child {

    font-size: 1.667rem;
    font-weight: bold;

}

#logo-letter p:nth-child(2) {

    font-size: 0.833rem;
    font-weight: bold;
    margin-left: 0.4rem;
}


.links-navbar {

    display: inline-flex;
    list-style: none;
    flex-direction: column;
    margin: 0;
    padding: 0;

}


.links-navbar a {

    color: var(--text-color-primary);
    text-decoration: none;
    font-size: 1rem;

}

.links-navbar li {

    padding: 0 1rem;

}

.links-navbar li:hover {


    transform: scale(1.2);
    transition: all 0.3s;
}

.logo-redes-navbar {

    display: inline-flex;
    margin-right: 2.5rem;
    flex-direction: column;

}

.logo-redes-navbar img:first-child {

    width: 2.083rem;
    height: 2.083rem;

}

.logo-redes-navbar img:nth-child(2) {

    width: 2.083rem;
    height: 2.083rem;

}

/* Fin NavBar */

/*Main-Welcome*/







/*Fin Main-Welcome




/* --- Fin Seccion Index --- */

/* --- Comienzo Seccion Productos  --- */










/* --- Fin Seccion Productos--- */

/* --- Comienzo Seccion Nosotros  --- */








/* --- Fin Seccion Nosotros--- */

/* --- Comienzo Seccion Contactos  --- */

.container-contactanos {
    width: 1200px;
    margin: 0 auto;
}

.contactanos-title {
    background-color: var(--tertiary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    border-radius: 1rem;
    margin: 2rem 0;
    color: var(--text-color-primary);
    padding: 2rem 0;
}

.contactanos-title img {
    width: 10rem;
}

.contactanos-title h4 {
    font-size: 1.6rem;
    position: relative;
}

.contactanos-title h4::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%; /* Centrar horizontalmente */
    transform: translateX(-50%); /* Centrar horizontalmente */
    width: 120%;
    height: 2px; /* Altura de la línea */
    background-color: var(--text-color-primary); 
    margin-top: 1rem;
}
.container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--bg-container-form);
    border: 1px solid var(--secondary-color);
    padding: 3rem;
    border-radius: 1rem;
}

.contactanos-formulario {
    background-color: var(--secondary-color);
    padding: 2rem 0;
    color: var(--text-color-primary);
    border-radius: 1rem;
}

.contactanos-formulario h3 {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: .5rem;
    position: relative;
}

.contactanos-formulario h3::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%; /* Centrar horizontalmente */
    transform: translateX(-50%); /* Centrar horizontalmente */
    width: 20%;
    height: 2px; /* Altura de la línea */
    background-color: var(--text-color-primary); 
    margin-top: .3rem;
}

.contactanos-formulario form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 60rem;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
}

.contactanos-formulario label {
    grid-column: 1;
    text-align: center;
    margin-top: 2rem;
}

.contactanos-formulario input, textarea {
    border: none;
    grid-column: 2;
    background-color: var(--bg-container-form);
    border-radius: .5rem;
    padding: .7rem;
    margin-top: 2rem;
    width: 75%;
}

.contactanos-formulario textarea {
    height: 20rem;
}

.form-button {
    margin: 3rem 0;
    background-color: var(--bg-button-enviar);
    color: white;
    font-size: 24px;
    border: none;
    padding: .5rem 4rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.form-button:hover {
    background-color: var(--bg-button-enviar-dark);
    transition: .6s;
}
/* --- Fin Seccion Contacto--- */