/* --- Google Fonts --- */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* --- Fin de Google Fonts --- */


/* --- Paleta de Colores  --- */

:root {

    --main-bg-color: #E5E5E5;
    --primary-color: #20964F;
    --secondary-color: #4A7AD3;
    --tertiary-color: #A859C3;
    --fourth-color: #DD4D4D;
    --fifth-color: #FFEDCC;
    --text-color-primary: #FFFFFF;
    --text-color-secondary: #2E2929;
}

/* --- Fin Paleta de Colores --- */


/* --- Fuente --- */


body {

    font-family: Rubik, Roboto, sans-serif;
    font-size: 24px;
}

/* --- Fin Fuente --- */


/* --- Grid --- */

.main-container {

    display: grid;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    grid-template:
        "navbar-burger" 1fr
        "main-welcome" 10fr
        "carrousel-promotions" 5fr
        "orders-banner" 5fr
        "sales-section" 10fr
        "footer" 3fr;


    .navbar {
        grid-area: navbar;
    }

    .navbar-burger {

        grid-area: navbar-burger;

    }

    .main-welcome {
        grid-area: main-welcome;

    }

    .carrousel-promotions {
        grid-area: carrousel-promotions;

    }

    .orders-banner {
        grid-area: orders-banner;

    }

    .sales-section {

        grid-area: sales-section

    }

    .footer {
        grid-area: footer;

    }


    /* --- Fin de Grid --- */


    /* --- BreakPoints --- */

    /* --- Los breakpoints estan configurados de esta manera 
        porque en el modo de Mobile quiero que se muestre el navbar en estilo hamburguesa
        y el carrousel-promotions y en modo desktop quiero que se muestre tal cual como esta en
        el diseño original de figma, esto aun esta en "veremos" y a decision de ustedes --- */


    @media (min-width:320px) {

        .navbar {

            display: none;

        }

        .current-promotions {

            display: none;

        }

    }

    @media (min-width:760px) {

        .navbar {

            display: none;
        }

        grid-template: "navbar-burger" 2fr
        "main-welcome" 25fr
        "carrousel-promotions" 14fr
        "orders-banner" 14fr
        "sales-section" 25fr
        "footer" 5fr;

    }

    @media (min-width: 1024px) {

        .navbar-burger {

            display: none;

        }

        .navbar {

            display: inline-flex;
        }




        grid-template: "navbar" 2fr
        "main-welcome" 25fr
        "carrousel-promotions" 14fr
        "orders-banner" 14fr
        "sales-section" 25fr
        "footer" 5fr;
    }
}

/* --- Fin BreakPoints --- */


/* --- Comienzo Seccion INDEX CSS --- */


/* NavBar */

.navbar {

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;

    background-color: var(--primary-color);



}

.navbar img:first-child {

    width: 3.875rem;
    height: 3.292rem;


}

.navbar div:first-child {

    padding-left: 2rem;

}

#logo-letter {


    display: inline-block;
    color: var(--main-bg-color);


}

#logo-letter p:first-child {

    font-size: 1.667rem;
    font-weight: bold;

}

#logo-letter p:nth-child(2) {

    font-size: 0.833rem;
    font-weight: bold;
    margin-left: 0.4rem;
    margin-bottom: 0.8rem;
}


.links-navbar {

    display: inline-flex;
    list-style: none;
    margin: 0;
    padding: 0;


}


.links-navbar a {

    color: var(--text-color-primary);
    text-decoration: none;
    font-size: 1rem;



}

.links-navbar li {

    padding: 0 1rem;

}

.links-navbar a:hover {

    background-color: #4A7AD3;

}

.logo-redes-navbar {

    display: inline-flex;
    margin-right: 2.5rem;

}

.logo-redes-navbar img:first-child {


    width: 2.083rem;
    height: 2.083rem;


}

.logo-redes-navbar img:nth-child(2) {


    width: 2.083rem;
    height: 2.083rem;


}

/* Fin NavBar */

/*Main-Welcome*/







/*Fin Main-Welcome




/* --- Fin Seccion Index --- */

/* --- Comienzo Seccion Productos  --- */










/* --- Fin Seccion Productos--- */

/* --- Comienzo Seccion Nosotros  --- */








/* --- Fin Seccion Nosotros--- */

/* --- Comienzo Seccion Contactos  --- */







/* --- Fin Seccion Contacto--- */