/* --- Google Fonts --- */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* --- Fin de Google Fonts --- */


/* --- Paleta de Colores  --- */

:root {

    --main-bg-color: #E5E5E5;
    --primary-color: #20964F;
    --secondary-color: #4A7AD3;
    --tertiary-color: #A859C3;
    --fourth-color: #DD4D4D;
    --fifth-color: #FFEDCC;
    --text-color-primary: #FFFFFF;
    --text-color-secondary: #2E2929;
}

/* --- Fin Paleta de Colores --- */


/* --- Fuente --- */


body {

    font-family: Rubik, Roboto, sans-serif;
    font-size: 24px;
}

/* --- Fin Fuente --- */


/* --- GRID --- */

.main-container {

    display: grid;
    margin: 0 auto;
    grid-template:
        "navbar-burger" 1fr
        "main-welcome" 10fr
        "carrousel-promotions" 5fr
        "orders-banner" 5fr
        "sales-section" 10fr
        "footer" 3fr;


    .navbar {
        grid-area: navbar;
        background-color: var(--primary-color);
    }

    .navbar-burger {

        grid-area: navbar-burger;
        background-color: var(--primary-color);
    }

    .main-welcome {
        grid-area: main-welcome;
        background-color: var(--fifth-color);
    }

    .carrousel-promotions {
        grid-area: carrousel-promotions;
        background-color: var(--tertiary-color);
    }

    .orders-banner {
        grid-area: orders-banner;
        background-color: var(--primary-color);
    }

    .sales-section {
        grid-area: sales-section;
        background-color: var(--secondary-color);
    }

    .footer {
        grid-area: footer;
        background-color: var(--primary-color);
    }

    /* --- Fin de Grid --- */


    /* --- BreakPoints --- */

    /* --- Los breakpoints estan configurados de esta manera 
        porque en el modo de Mobile quiero que se muestre el navbar en estilo hamburguesa
        y el carrousel-promotions y en modo desktop quiero que se muestre tal cual como esta en
        el diseño original de figma  --- */


    @media (min-width:320px) {

        .navbar {

            display: none;

        }

        .current-promotions {

            display: none;

        }

    }

    @media (min-width:760px) {

        .navbar {

            display: none;
        }

        grid-template: "navbar-burger" 2fr
        "main-welcome" 25fr
        "carrousel-promotions" 14fr
        "orders-banner" 14fr
        "sales-section" 25fr
        "footer" 5fr;

    }

    @media (min-width: 1024px) {

        .navbar {

            display: grid;
        }

        .navbar-burger {

            display: none;

        }


        grid-template: "navbar" 2fr
        "main-welcome" 25fr
        "carrousel-promotions" 14fr
        "orders-banner" 14fr
        "sales-section" 25fr
        "footer" 5fr;
    }

    /* --- Fin BreakPoints --- */


    /* --- Seccion para el CSS de Index --- */


    .navbar {

        display: flex;
        align-items: center;
    }

    .navbar img:first-child {


        width: 3.875rem;
        height: 3.292rem;
        

    }

    .navbar div:first-child {

        padding-left: 2rem;
        justify-content: center;

    }

    #logo-letter {

        display: inline-block;
        color: var(--main-bg-color);
        align-items: center;

    }

    #logo-letter p:first-child {

        font-size: 1.111rem;
        font-weight: bold;



    }

    #logo-letter p:nth-child(2) {

        font-size: 0.556rem;
        padding-left: 0.4rem;
        margin-top: -1rem;
    }












    /* --- Fin Seccion para el CSS del Index --- */




    /* --- Seccion para el Css de Productos --- */




    /* --- Fin Seccion para el CSS de Productos --- */




    /* --- Seccion para el CSS de Nostros --- */




    /* --- Fin de Seccion para el CSS de Nosotros --- */




    /* --- Seccion para el CSS de Contacto --- */




    /* --- Fin de Seccion para el CSS de Contacto --- */

}