<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Buena Onda Verduleria</title>
</head>
<body>

    <header class="header">
        <nav class="navbar">
            <div id="logo">
                <img src="../img/vegetables-salad-svgrepo-com.png" alt="buenaonda-logo">
                <div id="logo-letter">
                    <p>Buena Onda</p>
                    <p>Verduleria & Almacen</p>
                </div></div>
           
            <div class="navegacion">
                <ul class="links-navbar">
                    <li><a href="/index.html">Inicio</a></li>
                    <li><a href="/views/productos.html">Productos</a></li>
                    <li><a href="/views/nosotros.html">Sobre Nosotros</a></li>
                    <li><a href="/views/contacto.html">Contactanos</a></li>
                </ul>
            </div>
            <div class="logo-redes-navbar">
                <a href=""><img src="../img/icons8-instagram-96.png" alt="instagram-icon"></a>
                <a href=""><img src="../img/icons8-facebook-96.png" alt="facebook-icon"></a>
            </div>
        </nav>

    <main class="container-contactanos">

        <div class="contactanos-title">
            <div>
                <h4> ¡Danos tus Opiniones y Sugerencias!</h4>
            </div>
            <img src="../img/two-people-having-a-conversation-svgrepo-com(1).png" alt="">
        </div>
        
        <div class="container-form">
            <div class="contactanos-formulario">
                <h3> ¡Contactanos! </h3>
                <form action="">
                        <label for="">Nombre:</label>
                        <input type="text" placeholder="Ingrese su Nombre">
    
                    
                        <label for="">Apellido:</label>
                        <input type="text" placeholder="Ingrese su Apellido">
    
                        <label for="">Email:</label>
                        <input type="email" placeholder="Ingrese su Email">
    
                        <label for="">Mensaje:</label>
                        <textarea name="" id=""></textarea>
                </form>

                <button class="form-button" type="submit">Enviar</button>
            </div>
        </div>

    </main>
        
        <footer class="footer">
            <div>
                <div class="logo-footer">
                    <img class="logo-img" src="../img/vegetables-salad-svgrepo-com.png" alt="buenaonda-logo">
                    <div id="logo-letter">
                        <p>Buena Onda</p>
                        <p>Verduleria & Almacen</p>
                    </div>
                </div>
            </div>
            
            <div>
                <h4>Rosario - Argentina</h4>
            </div>
        </footer>

    </header>
    
</body>
</html>