<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <title>Buena Onda Verduleria</title>
</head>
<body>

    <header class="header">
        <nav class="navbar">
            <div id="logo">
                <a href="/index.html"><img src="../img/vegetables-salad-svgrepo-com.png" alt="buenaonda-logo"></a>
                <div id="logo-letter">
                    <p>Buena Onda</p>
                    <p>Verduleria & Almacen</p>
                </div>
            </div>
            <ul class="links-navbar">
                <li><a href="/index.html">Inicio</a></li>
                <li><a href="/views/productos.html">Productos</a></li>
                <li><a href="/views/nosotros.html">Sobre Nosotros</a></li>
                <li><a href="/views/contacto.html">Contactanos</a></li>
            </ul>
            <div class="logo-redes-navbar">
                <a href=""><img src="/img/icons8-instagram-96.png" alt="instagram-icon"></a>
                <a href=""><img src="/img/icons8-facebook-96.png" alt="facebook-icon"></a>
            </div>
        </nav>
    </header> 

    <main class="container-contactanos">

        <div class="contactanos-title">
            <div>
                <h4> ¡Danos tus Opiniones y Sugerencias!</h4>
            </div>
            <img src="../img/two-people-having-a-conversation-svgrepo-com(1).png" alt="">
        </div>
        
        <div class="container-form">
            <div class="contactanos-formulario">
                <h3> ¡Contactanos! </h3>
                <form id="contactanos-formulario" action="">

                        <label for="nombre">Nombre:</label>
                        <input id="nombre" name="nombre" type="text" placeholder="Ingrese su Nombre">
                    
                        <label for="apellido">Apellido:</label>
                        <input id="apellido" name="apellido" type="text" placeholder="Ingrese su Apellido">
    
                        <label for="email">Email:</label>
                        <input id="email" name="email" type="email" placeholder="Ingrese su Email">

                        <label for="genero">Género:</label>
                        <div id="form-genero">
                            <label for="femenino">
                                <input value="femenino" type="radio" name="genero" id="genero">Femenino
                            </label>
                            <label for="masculino">
                                <input value="masculino" type="radio" name="genero" id="genero">Masculino
                            </label>
                            <label for="otro">
                                <input value="otro" type="radio" name="genero" id="genero">Otro
                            </label>
                        </div>
                        
                        <label for="motivo">Motivo:</label>
                        <select class="form-motivo" name="motivo" id="motivo">
                            <option value="" selected disabled>--- Seleccione una opcion ---</option>
                            <option value="pedidos mayoristas">Pedidos mayoristas</option>
                            <option value="pedidos minoristas">Pedidos minoristas</option>
                            <option value="reclamo">Reclamo</option>
                            <option value="curriculum">Curriculum</option>
                        </select>

                        <label>Imágen:</label>
                        <input class="form-img" type="file" src="" alt="">

                        <label for="mensaje">Mensaje:</label>
                        <textarea name="mensaje" id="mensaje"></textarea>
                        
                </form>

                <input id="form-button" value="Enviar" type="submit"></input>
            </div>
        </div>

    </main>
    
    <footer class="footer">
        <div>
            <div class="logo-footer">
                <img class="logo-img" src="../img/vegetables-salad-svgrepo-com.png" alt="buenaonda-logo">
                <div id="logo-letter">
                    <p>Buena Onda</p>
                    <p>Verduleria & Almacen</p>
                </div>
            </div>
        </div>
        <div>
            <h4>Rosario - Argentina</h4>
        </div>
    </footer>
    
    <script src="/app.js"></script>
</body>
</html>