<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <title>Nosotros</title>
</head>

<body>
    <div class="cointainer">
        <header class="header">
            <nav class="navbar">
                <div id="logo">
                    <img src="../img/vegetables-salad-svgrepo-com.png" alt="buenaonda-logo">
                    <div id="logo-letter">
                        <p>Buena Onda</p>
                        <p>Verduleria & Almacen</p>
                    </div>
                </div>

                <div class="navegacion">
                    <ul class="links-navbar">
                        <li><a href="/index.html">Inicio</a></li>
                        <li><a href="/views/productos.html">Productos</a></li>
                        <li><a href="/views/nosotros.html">Sobre Nosotros</a></li>
                        <li><a href="/views/contacto.html">Contactanos</a></li>
                    </ul>
                </div>
                <div class="logo-redes-navbar">
                    <a href=""><img src="../img/icons8-instagram-96.png" alt="instagram-icon"></a>
                    <a href=""><img src="../img/icons8-facebook-96.png" alt="facebook-icon"></a>
                </div>
            </nav>
        </header>
        <main>
            <section>
            <div class="row redes-sociales">
                <div class="contRedes-sociales">
                    <div class="row contRedes-sociales1">
                        <div class="col redes-sociales_texto">
                            <h2>¡Siguenos en Nuestras Redes Sociales! </h2>
                        </div>
                    </div>
                    <div class="row contRedes-sociales2">
                        <div class="col">
                            <div class="icon-redes">

                                <a href=""><img src="../img/icons8-instagram-150.png" alt=""> </a>
                                <a href=""><img src="../img/icons8-whatsapp-150.png" alt=""> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="presentacion-container">
                <div class="presentacion">
                    <h5>¡Bienvenidos a Buena Onda, tu destino fresco en Rosario!</h5>
                    <p>En Buena Onda, nos enorgullece ser mucho más que una simple verdulería y almacén. Desde
                        nuestra fundación en [Año de Fundación], nos hemos comprometido a brindar a nuestros
                        clientes no solo los mejores productos frescos, sino también una experiencia de compra que
                        refleje la calidez y la autenticidad de nuestra tierra argentina.</p>
                    <p>Nosotros, en Buena Onda, creemos en el poder transformador de una alimentación saludable y
                        consciente. Es por eso que nos esforzamos cada día por seleccionar cuidadosamente las frutas
                        y verduras más frescas y de calidad, directamente desde los productores locales hasta tu
                        mesa. Además, en nuestro almacén encontrarás una amplia variedad de productos básicos para
                        el hogar y snacks saludables, complementando tu dieta con opciones deliciosas y nutritivas.
                    </p>
                    <p>Pero más allá de ser solo un lugar donde hacer tus compras, en Buena Onda queremos ser parte
                        de tu comunidad. Nos enorgullece ser un espacio donde puedas venir a disfrutar de
                        conversaciones amenas, compartir recetas e inspirarte para llevar un estilo de vida más
                        saludable y feliz.</p>
                    <p>¡Gracias por elegirnos y ser parte de esta gran familia! En Buena Onda, siempre encontrarás
                        una sonrisa y la mejor calidad en cada producto. ¡Te esperamos con los brazos abiertos!</p>

                </div>
            </div>
        </section>
        <section>
            <div class="row tel-contacto">
                <div class="row pedido">
                    <h5>¡Haz tu Pedido Por WhatsApp y te lo enviamos en tiempo record!</h5>
                </div>
                <div class="row numero-tel">
                    <div class="col-3 numero-tel_icon"><img src="../img/icons8-whatsapp-150.png" alt=""></div>
                    <div class="col-6 numero-telefono">
                        <h4 class="numeroDeTelefono">+543413312584</h4>
                    </div>
                    <div class="col-3 numero-tel_icon"> <img src="../img/icons8-moto-100.png" alt=""></div>
                </div>
            </div>
        </section>
        </main>
        <footer class="footer">
            <div>
                <div class="logo-footer">
                    <img class="logo-img" src="../img/vegetables-salad-svgrepo-com.png" alt="buenaonda-logo">
                    <div id="logo-letter">
                        <p>Buena Onda</p>
                        <p>Verduleria & Almacen</p>
                    </div>
                </div>
            </div>
    
            <div>
                <h4>Rosario - Argentina</h4>
            </div>
        </footer>
        <div>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
                integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
                crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
                integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
                crossorigin="anonymous"></script>

</body>

</html>