<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <title>Productos</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body class="productos-page">
    <div class="main-container"></div>
    <nav class="navbar">
        <div id="logo">
            <a href="/index.html"><img src="../img/vegetables-salad-svgrepo-com.png" alt="buenaonda-logo"></a>
            <div id="logo-letter">
                <p>Buena Onda</p>
                <p>Verduleria & Almacen</p>
            </div>
            <ul class="links-navbar">
                <li><a href="/index.html">Inicio</a></li>
                <li><a href="/views/productos.html">Productos</a></li>
                <li><a href="/views/nosotros.html">Sobre Nosotros</a></li>
                <li><a href="/views/contacto.html">Contactanos</a></li>
            </ul>
            <div class="logo-redes-navbar">
                <a href=""><img src="../img/icons8-instagram-96.png" alt="instagram-icon"></a>
                <a href=""><img src="../img/icons8-facebook-96.png" alt="facebook-icon"></a>
            </div>
    </nav>

    <section>
        <div class="contenedor">
            <p>¡Haz tu Pedido Por WhatsApp y te lo enviamos en tiempo record!</p>

            <img class="motodelivery" src="../img/icons8-moto-100.png" alt="">
            <img class="icono-whatsapp" src="../img/icons8-whatsapp-150.png" alt="">
            <button>+543413312584</button>

    </section>
    <section>
        <div class="segunda-nav">
            <nav>
                <ul>
                    <li> <a href="">Almacén</a></li>
                    <li> <a href="">Verdulería</a></li>
                    <li> <a href="">Dietética</a></li>
                    <li><a href="">Higiene</a></li>
                </ul>
            </nav>


        </div>
    </section>
    <main>
        <div class="conteiner-productos">
            <div class="card">
                <figure>
                    <img src="../img/uvas.png">
                </figure>
                <div class="contenido">
                    <h3>Uvas Nacionales</h3>
                    <p>Frutas Nacionales</p>

                <a href="https//wa.me/543413312584">¡Pedilo Ya!</a>
                
                </div>
            </div>
            <div class="card">
                <figure>
                    <img src="../img/repollo.png">
                </figure>
                <div class="contenido">
                    <h3>Repollo Fresco</h3>
                    <p>Verduras de origen Nacional</p>
                    <a href="https//wa.me/543413312584">¡Pedilo Ya!</a>
                </div>
            </div>
            <div class="card">
                <figure>
                    <img src="../img/mandarina.png">
                </figure>
                <div class="contenido">
                    <h3>Mandarinas Dulces</h3>
                    <p>Frutas de origen Nacional</p>
                    <a href="https//wa.me/543413312584">¡Pedilo Ya!</a>
                </div>
            </div>
            <div class="card">
                <figure>
                    <img src="../img/harina.png">
                </figure>
                <div class="contenido">
                    <h3>Harina de Trigo</h3>
                    <p>Producción Nacional</p>
                    <a href="https//wa.me/543413312584">¡Pedilo Ya!</a>
                </div>
            </div>
            <div class="card">
                <figure>
                    <img src="../img/huevos.png">
                </figure>
                <div class="contenido">
                    <h3>Maple de Huevos</h3>
                    <p>Producción Nacional</p>
                    <a href="https//wa.me/543413312584">¡Pedilo Ya!</a>
                </div>
            </div>
            <div class="card">
                <figure>
                    <img src="../img/aceite.png">
                </figure>
                <div class="contenido">
                    <h3>Aceite de Oliva</h3>
                    <p>Producción Nacional</p>
                    <a href="https//wa.me/543413312584">¡Pedilo Ya!</a>
                </div>
            </div>
            <div class="card">
                <figure>
                    <img src="../img/almendras.png">
                </figure>
                <div class="contenido">
                    <h3>Almendras</h3>
                    <p>Producción Nacional</p>
                    <a href="https//wa.me/543413312584">¡Pedilo Ya!</a>
                </div>
            </div>
            <div class="card">
                <figure>
                    <img src="../img/mani.png">
                </figure>
                <div class="contenido">
                    <h3>Maní con Cáscara</h3>
                    <p>Producción Nacional</p>
                    <a href="https//wa.me/543413312584">¡Pedilo Ya!</a>
                </div>
            </div>
            <div class="card">
                <figure>
                    <img src="../img/granola.png">
                </figure>
                <div class="contenido">
                    <h3>Granola</h3>
                    <p>Producción Nacional</p>
                    <a href="https//wa.me/543413312584">¡Pedilo Ya!</a>
                </div>
            </div>
            <div class="card">
                <figure>
                    <img src="../img/lavaplatos.png">
                </figure>
                <div class="contenido">
                    <h3>Lavaplatos</h3>
                    <p>Producción Nacional</p>
                    <a href="https//wa.me/543413312584">¡Pedilo Ya!</a>
                </div>
            </div>
            <div class="card">
                <figure>
                    <img src="../img/papel higienico.png">
                </figure>
                <div class="contenido">
                    <h3>Papel Higiénico</h3>
                    <p>Producción Nacional</p>
                    <a href="https//wa.me/543413312584">¡Pedilo Ya!</a>
                </div>
            </div>
            <div class="card">
                <figure>
                    <img src="../img/jabon.png">
                </figure>
                <div class="contenido">
                    <h3>Jabón Antibacterial</h3>
                    <p>Producción Nacional</p>
                    <a href="https//wa.me/543413312584">¡Pedilo Ya!</a>
                </div>
            </div>

    </main>
    <section>
        <div class="row redes-sociales">
            <div class="contRedes-sociales">
                <div class="row contRedes-sociales1">
                    <div class="col redes-sociales_texto">
                        <h2>¡Siguenos en Nuestras Redes Sociales! </h2>
                    </div>
                </div>
                <div class="row contRedes-sociales2">
                    <div class="col">
                        <div class="icon-redes">

                            <a href=""><img src="../img/icons8-instagram-150.png" alt=""> </a>
                            <a href=""><img src="../img/icons8-whatsapp-150.png" alt=""> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div>
            <div class="logo-footer">
                <img class="logo-img" src="../img/vegetables-salad-svgrepo-com.png" alt="buenaonda-logo">
                <div id="logo-letter">
                    <p>Buena Onda</p>
                    <p>Verduleria & Almacen</p>
                </div>
            </div>
        </div>

        <div>
            <h4>Rosario - Argentina</h4>
        </div>
    </footer>

</body>

</html>